body {
	overflow-x: hidden;
}

.title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1em;
}

#introduction {
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}

.introduction-title {
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	text-align: center;
}

.main-part {
	text-align: center;
	margin-top: 30vh;
}

.introduction-desc {
	margin-top:30px;
	padding-left:30px;
	padding-right:30px;
}

#button_to_viz {
	margin-top: 150px;
}
	
#container {
  position: relative;
  display: block;
  height: 75vh;
  margin: 0;
  padding: 0;
}

.self {
	position: relative;
	z-index: 0;
}

#container-line-chart {
  height: 270px;
  text-align:center;
}

#trend-container {
  border: solid 1px;
  border-color: #bebebe;
  margin-left: 20px;
}

#country-selector {
  margin: 1em;
}

#title-trend {
  font-family: 'Oswald', sans-serif;
}

p.center-large {
  text-align: center;
  font-size: 1.5em;
  color: #d9d9db;
  position: absolute;
  top: 40%;
  width: 100%;
}

.indicator-helper {
  margin-top: 20px;
  margin-left: 20px;
}

.indicator-helper-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.full-page {
	height: 100vh;
}

.overlay {
	position: absolute;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height: 100vh;
	padding-top: 0;
	z-index: 0;
}

.btn-landing {
	border-radius: 20px;
}