.title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 1em;
}

#container {
  position: relative;
  display: block;
  height: 75vh;
  margin: 0;
  padding: 0;
}

#container-line-chart {
  height: 220px;
  text-align:center;
}

#trend-container {
  border: solid 1px;
  border-color: #bebebe;
}

#country-selector {
  margin: 1em;
}

#title-trend {
  font-family: 'Oswald', sans-serif;
}

p.center-large {
  text-align: center;
  font-size: 1.5em;
  color: #d9d9db;
  position: absolute;
  top: 40%;
  width: 100%;
}

.indicator-helper {
  margin-top: 20px;
}

.indicator-helper-title {
  font-weight: bold;
  margin-bottom: 5px;
}
