.title {
  font-family: 'Oswald', sans-serif;
}

#container {
  position: relative;
  display: block;
  height: 75vh;
  margin: 0;
  padding: 0;
}

#container-line-chart {
  height: 300px;
  margin-right: 20px;
  border: solid 1px;
  border-color: #bebebe;
}
